@model CollegeChemistryLibrary.Entities.Blogs
@{
    ViewData["Title"] = "Add Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string BlogForm_ActionMethod = "";



    int? Blogid = ViewBag.Blogid;
    if (Blogid.HasValue && Blogid.Value != 0)
    {
        BlogForm_ActionMethod = "UpdateBlog";
    }
    else
    {
        BlogForm_ActionMethod = "InsertBlog";
    }
    // Initialize model if it's null
    var blogModel = Model ?? new CollegeChemistryLibrary.Entities.Blogs();
}
@section CSS{
    <link rel="stylesheet" href="~/css/Form.css">
}
<div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-8"> @(Blogid == 0 ? "Add Blog" : "Update Blog")</h1>
</div>


<div class="page-wrapper">
    <div class="content">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" asp-area="" asp-controller="Blogs" asp-action="@BlogForm_ActionMethod">
                            <fieldset id="first-field">
                                <div class="row">
                                    <div class="col-md-12 mb-2" hidden>
                                        <div class="form-group">
                                            <label for="id">Blog Id</label>
                                            <input type="text" class="form-control" id="blogId" name="id" value="@blogModel.id" required readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-2" hidden>
                                        <div class="form-group">
                                            <label for="created_at">Created At</label>
                                            <input type="text" class="form-control" id="blogId" name="created_at" value="@blogModel.created_at" required readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-2">
                                        <div class="form-group">
                                            <label for="title">Blog Title</label>
                                            <input type="text" class="form-control" id="blogTitle" placeholder="Enter Title" name="title" value="@blogModel.title" required>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-2">
                                        <div class="form-group">
                                            <label for="content">Blog Content</label>
                                            <textarea class="form-control" id="BlogDesc" placeholder="Enter Content" name="content" rows="5" required>@blogModel.content</textarea>
                                        </div>
                                    </div>
                                </div>

                                 <div class="sub-title mb-3">
                                    <h6>Cover Picture</h6>
                                </div>

                                <div class="form-uploads mb-4">
                                    <div class="form-uploads-path text-center">
                                        <img src="~/assets/img/upload.svg" alt="img" class="mb-3">
                                        <div class="file-browse">
                                            <h6>Drag & drop image or </h6>
                                            <div class="file-browse-path mt-3">
                                                <input name="coverPicture" type="file" class="form-control-file" value="@blogModel.cover_picture">
                                                @* <a href="javascript:void(0);" class="btn btn-link"> Browse</a> *@
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                @{
                                    if (Blogid != 0)
                                    {
                                        <div class="file-preview mb-4">
                                            <ul class="list-unstyled">
                                                @if (blogModel.cover_picture != null && blogModel.cover_picture.Length > 0)
                                                {
                                                    <img src="data:image/png;base64,@Convert.ToBase64String(blogModel.cover_picture)" alt="Cover Picture" style="max-width: 150px;" name="cover_picture" />
                                                }
                                                else
                                                {
                                                    <span>No Cover Picture</span>
                                                }
                                            </ul>
                                        </div>
                                    }
                                 } 
                                @{
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">
                                            @(Blogid == 0 ? "Add Blog" : "Update Blog")
                                        </button>
                                    </div>
                               }
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>

    <!-- Initialize CKEditor -->
    <script>
        CKEDITOR.replace('BlogDesc');
    </script>
}

